---
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | yumi-Labs" description="yumiのプロフィールと経歴">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About ✦"
				tagline="立ち寄ってくれてありがとうございます。私のことをもう少し知ってもらえると嬉しいです。"
			>
				<img
					width="1553"
					height="873"
					src="/assets/teamlab.png"
					alt="yumi at work"
				/>
			</Hero>

			<section>
				<h2 class="section-title">バックグラウンド ✿</h2>
				<div class="content">
					<p>
						はじめまして、yumiです。システムエンジニア歴8年の30歳です。	システム開発・保守、Webの世界やAIに興味があります。デザインとコード、AIツールの3つを行き来しながら趣味と仕事をしています。
						使いやすくて、見ていて楽しいものを作ることが好きです。
					</p>
					<p>
						特に日本独特な感性や仕組み、洗練された表現に興味があり、	
						日本の美意識（間・余白・繊細さ）をデジタルに落とし込むことを心がけています。
					</p>
					<p>
						プライベートでは中高時代が茶道部だったこともあり、抹茶が大好き。	また推し活や旅行を楽しんでいます。
						オープンソースへの貢献や、技術記事の執筆も積極的に行っています。
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">スキル ☆</h2>
				<div class="content">
					<p> SAP ABAP ・ SAP FI・MMコンサル ・ Astro ・ HTML・CSS</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">その他</h2>
				<div class="content">
					<p>Kindleでも活動中。お気軽に読んでください！</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
