<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.45rem 1rem;
		gap: 0.4rem;
		align-items: center;
		color: var(--accent-dark);
		border: 2px solid var(--accent-light);
		background: var(--gray-999_40);
		border-radius: 999rem;
		font-size: var(--text-md);
		font-family: var(--font-brand);
		font-weight: 600;
		line-height: 1.35;
		white-space: nowrap;
		backdrop-filter: blur(4px);
		transition: all var(--theme-transition);
	}

	.pill:hover {
		background: var(--accent-light);
		color: white;
		border-color: var(--accent-regular);
		transform: translateY(-2px);
		box-shadow: var(--shadow-sm);
	}
</style>
